#pages_landing{
  main{
    height: 70%;
    #landing{
      height: 100%;
    }
  }
}

#pages_collections{
  main{
    height: 100%;
    #collections{
      height: 100%;
      div{
        height: 110%;
        margin-top: -60px;
        width: 100%;
        img{
          display: block;
          max-height: 100%;
          height: auto;
          width: auto;
          margin: auto;
        }
      }
    }
  }
}

svg{
  display:block;
  width: 100%;
  height: 100%;
  polygon{
   cursor: pointer;
  }
}
