.catalogue__container{
  height: 90%;
  .catalogue__filter{
    border-right: 1px solid black;
    height: 100%;
  }
  .catalogue__products{
    height: 100%;
    overflow-y: auto;
    @include set_flex(row, flex-start, space-between);
    flex-wrap: wrap;
    .catalogue__product-wrapper{
      height: 400px;
      width: 300px;
      padding: 10px;
    }
    .product__photo_container{
      height: 100%;
      border: 1px solid black;
      padding: 5px;
      .product__photo{
        height: 380px;
        @include set_flex(column, center, center);
      }
    }
    .product__info{
      padding: 10px;
      text-align: center;
    }
  }
}
