.catalogue__container{
  height: 90%;
  .catalogue__filter{
    border-right: 1px solid black;
    height: 100%;
  }
  .catalogue__products{
    height: 100%;
    overflow-y: auto;
    @include set_flex(row, flex-start, space-between);
    flex-wrap: wrap;
    .catalogue__product-wrapper{
      height: 400px;
      width: 300px;
      padding: 10px;
    }
    .catalogue__product{
      height: 100%;
      border: 1px solid black;
    }
  }
}
