.section--double-column{
  height: 90%;
  .section--double-column__title{
    text-align: center;
    margin: 20px 0 50px 0;
  }
  .section--double-column__text{
    margin-bottom: 10px;
    overflow-y: auto;
    height: 100%
  }
}

.section--slanted{
  height: 100%;
  overflow-x: hidden;
  @include set_flex(row, flex-start, center);
  .section--slanted__title{
    height: 100%;
    transform:  translateX(5%);
    text-align: right;
    /* wrapper, unskew and place the text back as if it is normal */
    &:after{
      content: "";
       background: black;
       width: 1px;
       height: 500px;
       transform: rotate(30deg);
       position: absolute;
       right: 100px;
       top: -20px;
       z-index: -1;
    }
  }
  .section--slanted__content{
    height: 100%;
    width: 200%;
    transform:ranslateX(5%);
    overflow: hidden;
    .section--slanted__content__text{
      padding: 20px;
      width: 75%;
      transform: translateX(-1%);
    }
    .content__one, .content__two{
      position: absolute;
      height: 40%;
      border: 1px solid black;
      transform: skew(30deg) translate(-50%, 80%);
      margin-right: 10px;
    }
  }
}
