#profile{
  >div>div{
    height: 100%;
    >div{
      height: 100%;
    }
  }
  .profile__title{
    text-align: right;
    border-right: 1px solid black;
  }
  .profile__content{
    padding-left: 40px;
    overflow-y: auto;
    .content__section{
      margin-bottom: 10px;
      .section__title{
        text-align: left;
        margin-bottom:0;
      }
      .section__content{
        .field__field{
          margin-right: -10px;
          input[type="text"]{
            border:0;
            font-size: 16px;
            background-color: lightgray;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: -30px;
            width: 100%;
            padding: 7px;
          }
        }
        .radio__button{
          text-align: center;
          margin-left: -30px;
          input[type="radio"]{
            margin-right: 5px;
          }
        }
      }
    }
  }
  .profile__current{
    font-weight: bold;
  }
  .profile__link{
    padding-left: 40px;
    a:link, a:visited{
      text-decoration: none;
      color: black;
    }
    a:hover, a:active{
      text-decoration: none;
      color: gray;
    }
  }
}
