#profile{
  >div>div{
    height: 100%;
    >div{
      height: 100%;
    }
  }
  .profile__title{
    text-align: right;
    border-right: 1px solid black;
  }
  .profile__content{
    padding-left: 40px;
    overflow-y: auto;
    .content__section{
      .section__title{
        text-align: left;
        margin-bottom:0;
      }
      .section__content{

      }
    }

  }
}
