#profile{
  .profile__title{
    text-align: right;
    border-right: 1px solid black;
  }
  .profile__content{
    padding-left: 40px;
    overflow-y: auto;
    .content__section{
      margin-bottom: 10px;
      .section__title{
        text-align: left;
        margin-bottom:0;
      }
      .section__content{
        .field__field{
          input[type="text"]{
            border:0;
            font-size: 16px;
            background-color: lightgray;
            margin: 5px 0;
            width: 100%;
            padding: 7px;
          }
        }
        input[type="submit"]{
          float: right;
        }
        .radio__button{
          text-align: center;
          input[type="radio"]{
            margin-right: 5px;
          }
        }
      }
    }
    .content__header{
      border-bottom: 1px solid black;
    }
  }
  .profile__link{
    a{
      text-align: right;
      color: gray;
      text-decoration: none;
      &:hover{
        color: black;
      }
    }
  }
}

#accounts_edit #profile-edit,
#registrations_edit #password-edit,
#orders_index #order-show,
#pages_measurements #measurement-edit{
  a{
    color: black;
    font-weight: bold;
  }
}
