#checkout{
  overflow-x: hidden;
  @include set_flex(row, flex-start, center);
  .checkout__title{
    height: 100%;
    margin-top: -20px;
    text-align: right;
    border-right: 1px solid black;
  }
  .checkout__container{
    height: 90%;
    width: 100%;
    overflow-y: auto;
    padding-top: 5px;
    padding-left: 50px;
    .content__header{
      font-size: 20px;
      text-align: center;
      border-bottom: 1px solid black;
      .header__total-price{
        text-align: right;
      }
    }
    .content__header:first-child{
      text-align: left;
    }
    .content__total-price{
      padding-top: 10px;
      font-size: 20px;
      font-weight: bold;
      text-align: right;
    }
  }
  .checkout__content{
    height: 80%;
    width: 100%;
    overflow-y: auto;
    padding-top: 5px;
    .content__photo_container{
      display: inline-block;
      height: 100%;
      .content__photo{
        height: 100px;
        width: 75px;
        border: 1px solid black;
        margin: 10px 0px 10px 0px;
      }
    }
    .content__text{
      font-size: 20px;
      text-align: center;
      padding: 10px;
      .text__item{
        text-align: left;
      }
      .text__total-price{
        text-align: right;
      }
    }
    .content__link{
      a:link, a:visited{
        text-decoration: underline;
        color: black;
      }
      a:hover, a:active{
        text-decoration: none;
        color: gray;
      }
    }
  }
}
