.section--account{
  margin: 0 5px;
  .section__title--account{
    text-align: left;
    @include set_font(1.25em, black, bold);
  }
  .section__content--account >div{
      margin: 3px 0;
      .input--radio__right{
        text-align: right;
      }
      input[type="radio"]{
        margin-right: 5px;
      }
  }
}


.section--register{
  border-left: 1px solid black;
}
.section--register, .section--login{
  text-align: center;
  input[type="text"], input[type="password"], input[type="email"]{
    background-color: lightgray;
  }
  .section--login__submit{
      text-align: right;
  }
}

.section__content--measurement{
  width: 100%;
  min-width: 820px;
  @include set_flex(row, flex-start, center);
}

.section__content--measurement-form{
    width: 30%;
    min-width: 400px;
}
.section__content--measurement-video{
  width: 50%;
  min-width: 400px;
}

.section__content--measurement-video-margin{
  margin-top: 45px;
}
