.container-fluid
  .row
    .col-xs-12
      #collection
        svg viewbox="0 0 100 60"
          defs
            pattern id="image" patternUnits="userSpaceOnUse" height="100" width="100"
              image x="0" y="0" height="100" width="100" xlink:href="http://i.imgur.com/7Nlcay7.jpg"
            pattern id="image1" patternUnits="userSpaceOnUse" height="100" width="100"
              image x="0" y="0" height="550" width="1140" xlink:href="http://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg"
            pattern id="image2" patternUnits="userSpaceOnUse" height="100" width="100"
              image x="0" y="0" height="641" width="962" xlink:href="http://i.dailymail.co.uk/i/pix/2016/03/22/13/32738A6E00000578-3504412-image-a-6_1458654517341.jpg"
          polygon class="first" points="1,1 47,1 1,59" fill="url(#image)"
          polygon class="second" points="99,1 53,1 99,59" fill="url(#image1)"
          polygon class="three" points="5,59 95,59 50,1" fill="url(#image2)"
