.container-fluid
  .row
    .col-xs-12
      #foundation
        .section__title
          h3 FOUNDATION
        .col-xs-8.col-xs-offset-2.foundation__texts
          .col-xs-6.foundation__text Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Nulla massa lacus, porta sit amet scelerisque nec,
            pretium at quam. Integer varius interdum urna lobortis molestie.
            Fusce sagittis nec ex ac condimentum. Pellentesque vehicula,
            lacus vitae rutrum ultrices, velit enim rutrum augue,
            et volutpat eros risus feugiat justo. Quisque et ex maximus,
            bibendum ex posuere, sodales magna. Cras volutpat vitae augue
            egestas consequat. Phasellus at finibus leo. Proin vitae ipsum
            sit amet neque dignissim consectetur nec et mauris. Duis sapien
            est, dapibus vitae posuere eget, feugiat pharetra risus. Curabitur
            dui purus, euismod in neque auctor, convallis bibendum leo.
            Praesent sollicitudin, ante ac volutpat tincidunt, sapien
            nisi fringilla sapien, eu tincidunt nunc risus eleifend enim.
          .col-xs-6.foundation__text Nam a justo interdum, volutpat ligula eget,
            viverra sapien. Proin erat urna, bibendum a malesuada et, posuere
            quis ante. Sed pharetra tellus at nisl faucibus finibus.
            Proin non orci eros. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Nulla viverra, turpis a imperdiet fermentum,
            elit nunc mattis erat, vel feugiat nibh lacus quis tortor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Fusce lorem lacus, dictum quis elit a,
            pretium accumsan neque.
          .col-xs-6.foundation__text Nam a justo interdum, volutpat ligula eget,
            viverra sapien. Proin erat urna, bibendum a malesuada et, posuere
            quis ante. Sed pharetra tellus at nisl faucibus finibus.
            Proin non orci eros. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Nulla viverra, turpis a imperdiet fermentum,
            elit nunc mattis erat, vel feugiat nibh lacus quis tortor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Fusce lorem lacus, dictum quis elit a,
            pretium accumsan neque.
          .col-xs-6.foundation__text Nam a justo interdum, volutpat ligula eget,
            viverra sapien. Proin erat urna, bibendum a malesuada et, posuere
            quis ante. Sed pharetra tellus at nisl faucibus finibus.
            Proin non orci eros. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Nulla viverra, turpis a imperdiet fermentum,
            elit nunc mattis erat, vel feugiat nibh lacus quis tortor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Fusce lorem lacus, dictum quis elit a,
            pretium accumsan neque.
          .col-xs-6.foundation__text Nam a justo interdum, volutpat ligula eget,
            viverra sapien. Proin erat urna, bibendum a malesuada et, posuere
            quis ante. Sed pharetra tellus at nisl faucibus finibus.
            Proin non orci eros. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Nulla viverra, turpis a imperdiet fermentum,
            elit nunc mattis erat, vel feugiat nibh lacus quis tortor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Fusce lorem lacus, dictum quis elit a,
            pretium accumsan neque.
          .col-xs-6.foundation__text Nam a justo interdum, volutpat ligula eget,
            viverra sapien. Proin erat urna, bibendum a malesuada et, posuere
            quis ante. Sed pharetra tellus at nisl faucibus finibus.
            Proin non orci eros. Interdum et malesuada fames ac ante ipsum
            primis in faucibus. Nulla viverra, turpis a imperdiet fermentum,
            elit nunc mattis erat, vel feugiat nibh lacus quis tortor.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Fusce lorem lacus, dictum quis elit a,
            pretium accumsan neque.
