.container-fluid
  .row
    .col-xs-12
      #landing
        svg viewbox="0 0 100 60"
          defs
            pattern id="image" patternUnits="userSpaceOnUse" height="100" width="100"
              image x="0" y="-20" height="80" width="50" xlink:href=image_url('Charlotte_Front2.jpg')
            pattern id="image1" patternUnits="userSpaceOnUse" height="100" width="100"
              image x="25" y="0" height="70" width="100" xlink:href=image_url('Jackie_Front2.jpg')
            pattern id="image2" patternUnits="userSpaceOnUse" height="100" width="100"
              image x="5" y="0" height="80" width="100" xlink:href=image_url('Nick_Front2.jpg')
          polygon id="triangle_men" class="first" points="1,1 47,1 22.5,58" fill="url(#image)" stroke="rgb(79, 136, 153)" stroke-linecap="round"
          polygon id="triangle_women" class="second" points="99,1 53,1 77.5,58" fill="url(#image1)" stroke="rgb(101, 64, 126)" stroke-linecap="round"
          polygon id="triangle_collection" class="three" points="25,59 75,59 50,2" fill="url(#image2)"  stroke="rgb(253, 224, 151)" stroke-linecap="round"
