.object__container{
  height: 100%;
  .object__title{
    height: 100%;
    border-right: 1px solid;
    text-align: right;
  }
  .object__contents{
    height: 100%;
  }
}

.object__contents{
    .object--main, .object--options{
      display: inline-block;
      height: 100%;
    }
    #image--main{
      height: 400px;
      width: 300px;
      border: 1px solid black;
    }
    .option{
      height: 100px;
      width: 75px;
      border: 1px solid black;
      margin: 0 10px 10px 10px;
    }
}
