.section__title{
    text-align: center;
    margin-bottom: 50px;
}
.section__content{
  height: 90%;
}

#mens, #womens, #accessories, #foundation, #shirts, #collections, #collection,
#customisation, #measurement, #purchase_accessory, #object, #checkout, #profile{
  height: 100% !important;
  width: 100% !important;
  margin: $content-top-margin 0 $main-margin-bottom 0;
}
