$header-height: 30%;
$content-height: 100%;
$content-top-margin: 20px;

$btn-font-color: black;

$order_object_custom_bg: gray;

$main-margin-bottom: 50px;

$customisation-lapels: rgb(79, 137, 153);
$customisation-vents: rgb(194, 101, 88);
$customisation-buttons: rgb(94, 92, 112);

$footer-color: rgb(209, 209, 209);

@font-face {
  font-family: 'Katahdin Round';
  src: font-url('KatahdinRound.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: font-url('Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: font-url('Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: font-url('Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: 'Roboto-Medium';
}

h2 {
  font-family: 'Roboto-Light';
}

th, td, div {
  font-family: 'Roboto-Light';
}