$header-height: 30%;
$content-height: 100%;
$content-top-margin: 20px;

$btn-font-color: black;

$order_object_custom_bg: gray;

$main-margin-bottom: 50px;

$customisation-lapels: rgb(79, 137, 153);
$customisation-vents: rgb(194, 101, 88);
$customisation-buttons: rgb(94, 92, 112);

$footer-color: rgb(209, 209, 209);
