#nav{
  /* container-fluid */
  >div{ height: 100%; }
  /* row */
  >div >div{ height: 100%; }
}

/* Brand */
.nav--brand{
  height: 60%;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  @include set_flex (row, center, center);
  #brand{
    height: 100%;
    width: 10%;
    background-color: red;
  }
}
/* ================ */

/* Navigation */
#nav{
  height: $header-height;
  width: 100%;
  .nav--list{
    @include set_flex(row, space-between, center);
  }
  ul{
    padding: 10px 0;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        @include set_font(16px, $btn-font-color, normal);
        &:hover{
          font-weight: bold;
        }
      }
    }
  }
}
#list__right{
  height: 0 !important;
  .nav--list{
    @include set_flex(row, flex-end, center);
    li{
      margin: 0 10px;
    }
  }
}
/* ================ */

#pages_landing #nav__landing,
#pages_mens #nav__mens,
#pages_womens #nav__womens,
#pages_accessories #nav__accessories,
#pages_collection #nav__collection,
#pages_foundation #nav__foundation,
#pages_story #nav__story{
  a{
    font-weight: bold;
  }
}
