/* Brand */
.nav--brand{
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid black;
  @include set_flex (row, center, center);
  #brand{
    height: 130px;
    width: 128px;
    background: image-url("logo.png") no-repeat;
    background-size: contain;
  }
}
/* ================ */
/* Navigation */
.navbar{
  .nav--misc{
    position: absolute;
    right: 0;
    ul{
      float: right;
    }
  }

  #nav-collapsable{
    a{
      text-decoration: none;
      @include set_font(16px, $btn-font-color, normal);
      &:hover{
        font-weight: bold;
      }
    }
  }
}
/* ================ */

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }
  .navbar-brand, #nav__account, #nav__subscribe, #nav__checkout
  ,#nav__sign_out, #nav__user{
    display: none;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}

@media (max-width: 767px){
  .nav--misc, .nav--brand{
    display: none;
  }
}

#pages_landing #nav__landing,
#suits_mens #nav__mens,
#suits_womens #nav__womens,
#accessories_index #nav__accessories,
#pages_collections #nav__collection,
#pages_foundation #nav__foundation,
#pages_story #nav__story{
  a{
    font-weight: bold;
  }
}
