@mixin set_font($size, $color, $weight){
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin set_flex($direction, $justify, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-content: $align;
}
