@mixin set_font($size, $color, $weight){
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin set_flex($direction, $justify, $align-content, $align-items: stretch){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;

  -webkit-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;

  -webkit-align-content: $align-content;
  -ms-align-content: $align-content;
  align-content: $align-content;

  -webkit-align-items: $align-items;
  -ms-align-items: $align-items;
  align-items: $align-items;
}
