@import 'bootstrap-sprockets';
@import 'bootstrap';

@import "constants";
@import "shared";

@import "common/section";

@import "nav";
@import "page/banner";
@import "page/catalogue";
@import "page/foundation";
@import "page/story";
@import "page/collection";
@import "page/account";

html, body{
  width: 100%;
  height: 100%;
}

/* Set height to 100% on the container */
main{
  display: block;
  width: 100%;
  height: $content-height;
  margin-top: $content-top-margin;
  /* container-fluid */
  >div { height: 100%;}
  /* row */
  >div>div { height: 100%; }
  /* col */
  >div>div>div {height: 100%; }
}
