.product__container{
  height: 100%;
  .product__info{
    height: 100%;
    border-right: 1px solid;
    text-align: right;
  }
}
.product__contents{
  @include set_flex(row, flex-start, flex-start);
  height: 100%;
  .product__image--main{
    padding: 10px;
    height: 400px;
    width: 300px;
    border: 1px solid black;
  }
  .product__image--selection div{
    height: 100px;
    width: 75px;
    border: 1px solid black;
    margin: 0 10px 10px 10px;
  }
}
