.product__container{
  height: 100%;
  .product__info{
    height: 100%;
    border-right: 1px solid;
    text-align: right;
    h2{
      font-family: 'Roboto-Light';
    }
  }
}
.product__contents{
  @include set_flex(row, flex-start, flex-start);
  height: 100%;
  .product__image--main{
    padding: 10px;
    height: 600px;
    width: 450px;
  }
  .product__image--selection div{
    height: 100px;
    width: 85px;
    margin: 0 10px 10px 10px;
    padding: 2px;
    &:hover{
      cursor: pointer;
    }
  }
  .product__image--main div, .product__image--selection div{
    @include set_flex(row, center, center);
  }
}
